### Address Extraction Classifier

#### Prem Shah

Addresses generated randomly from https://www.randomlists.com/random-addresses. Legal documents taken from open dataset https://archive.ics.uci.edu/ml/datasets/Legal+Case+Reports.


Dataset is in the form of Text and Label

Import libraries and data

In [29]:
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv("Data.csv")

Clean data and convert data types

In [3]:
data = data.dropna()
data["Outcome"] = data["Outcome"].astype('category')

In [4]:
data.tail()

                                                   Text    Outcome
4239  <sentence id="s276">82 It will be apparent fro...  Statement
4240  <sentence id="s277">I infer that they did not ...  Statement
4241  <sentence id="s278">83 In any event, even if I...  Statement
4242  <sentence id="s279">There were other debts whi...  Statement
4243  <sentence id="s280">Further, given these other...  Statement

In [5]:
data['Text'] = data['Text'].replace('<[^>]+>', '', regex=True)

In [6]:
data.tail(5)

                                                   Text    Outcome
4239  82 It will be apparent from the foregoing that...  Statement
4240  I infer that they did not raise these claims c...  Statement
4241  83 In any event, even if I were to have regard...  Statement
4242  There were other debts which were not paid by ...  Statement
4243  Further, given these other debts, the claim th...  Statement

In [7]:
try:
    data["Outcome"] = data["Outcome"].cat.codes
except:
    print("Already Categorical")
#0 = Address, 1 = Statement

In [13]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X_train)
X_t = vectorizer.transform(X_test)

C:\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:1089: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [8]:
def dataset_split(X,y,train_size):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1-train_size, random_state=42)
    return X_train, X_test, y_train, y_test

In [10]:
X_train, X_test, y_train, y_test = dataset_split(data['Text'],data['Outcome'],0.7)

In [16]:
X

<2970x5868 sparse matrix of type '<class 'numpy.float64'>'
	with 20289 stored elements in Compressed Sparse Row format>

75

Superior court of the state of washington

In [17]:
X_train

2408              409 Birchpond Road Titusville, FL 32780
1873         7672 North Iroquois Street Hanover, PA 17331
3173              Loxahatchee, FL 334709660 Mechanic Dr.
610           704 Philmont Drive Goodlettsville, TN 37072
570               Traverse City, MI 49684400 Valley Lane
343                       Mahwah, NJ 074302 Wrangler St.
2167             172 W. Prairie Street Cheshire, CT 06410
2367                 8933 Windsor Street Rahway, NJ 07065
4168    Collins asked him whether Rush's bail conditio...
3952                 Ashtabula, OH 440042 S. Thorne Ave.
3606                  109 Thomas St. Cookeville, TN 38501
2835               Carrollton, GA 30117576 W. Front Road
1292                  Eden Prairie, MN 55347863 Kent St.
1497             Copperas Cove, TX 7652291 Marvon Circle
1457     Hoffman Estates, IL 601697228 NW. Kirkland Ave.
1135                 18 53rd Court Murfreesboro, TN 37128
2721                    79 Meadow Street Lanham, MD 20706
2986               9037 Saxon Street Burlington, MA 01803
841                  9744 Bow Ridge St. Windsor, CT 06095
2780     Dearborn Heights, MI 4812724 West Virginia Ave.
2119                   852 SE. 53rd Rd. Conyers, GA 30012
965                     30 Carpenter Dr. Parlin, NJ 08859
528              Oakland Gardens, NY 11364607 Gulf Drive
176                9781 Littleton Ave. Metairie, LA 70001
422                 713 Heritage St. Hinesville, GA 31313
1652           Pompano Beach, FL 330608989 Swanson Drive
3586          Torrington, CT 067907 North Pin Oak Street
2245             8261 Addison Street Hackensack, NJ 07601
572                  Cumberland, RI 0286422 Harrison Dr.
2545               30 Mammoth Road Murfreesboro, TN 37128
                              ...
3202                 Kalispell, MT 599012 University St.
1528          West Springfield, MA 010897944B George St.
1267                  Euless, TX 760399768 Harvard Drive
1899                 50 Yukon Avenue Plainfield, NJ 07060
3005       Vernon Rockville, CT 06066644 Cambridge Drive
2734                     Wilson, NC 27893312 Garden Lane
189                543 Old Edgemont Ave. Nashua, NH 03060
1806                     Taylors, SC 29687963 Taylor Dr.
975                  8951 Jennings Avenue Macon, GA 31204
2747              Fort Lee, NJ 07024332 East Howard Lane
2047         9 Peg Shop Court Lake In The Hills, IL 60156
2558                 506 High Noon St. Brooklyn, NY 11201
1082                   800 Penn Street Eastlake, OH 44095
474               34 Rockcrest Road Canandaigua, NY 14424
2904          Chesterton, IN 46304250 East Thompson Ave.
4117    113 Recasting the matter in terms of a duty of...
3385       84 East Del Monte Drive Santa Monica, CA 90403
1184               Bemidji, MN 56601107 Randall Mill St.
2433    47 E. Lower River Street North Fort Myers, FL ...
2391                  49 Hickory Lane Green Bay, WI 54302
769                      8238 Shore St. Conyers, GA 30012
1685          Battle Ground, WA 98604801 Hawthorne Court
130                 69 Ohio Drive Winter Garden, FL 34787
2919                   Bethlehem, PA 180158042 Beech St.
3171                   Derby, KS 6703733 Rockwell Street
3444              9776 Squaw Creek Circle Ogden, UT 84404
466                 904 Bowman Ave. Goose Creek, SC 29445
3092           Sanford, NC 27330593 East Colonial Street
3772           Colorado Springs, CO 8091172 Annadale St.
860                  330 Annadale Street Ankeny, IA 50023
Name: Text, Length: 2970, dtype: object

In [18]:
model = LogisticRegression()

In [19]:
model.fit(X,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
results = model.predict(X_t)

In [28]:
accuracy_score(results,y_test)

0.9921507064364207

In [30]:
confusion_matrix(results,y_test)

array([[1213,   10],
       [   0,   51]], dtype=int64)